{% extends 'admin_base.html' %}
{% block body %}

<main role="main" class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      {% for employee in employees %}
      <div class="col-md-12">
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-4 col-md-2 text-center">
                <a href="" class="avatar avatar-md" >
                  <img src="{{ employee.emp_profile_picture.url }}" alt="{{ employee.user.first_name }} {{ employee.user.last_name }}" class="avatar-img rounded-circle" style="width: 65px; height: 65px;">
                </a>
              </div>
              <div class="col">
                <strong class="mb-1">{{ employee.user.first_name }} {{ employee.user.last_name }}</strong>
                <p class="small text-muted mb-1">Designation: {{ employee.emp_type }}</p>
              </div>
              <div class="col-4 col-md-auto my-2"> 
                <a href="" class="btn btn-sm btn-secondary">Contact</a>
              </div>
            </div>
          </div> 
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}

