{% extends 'consultantDoctor_base.html' %}
{% load static %}
{% block body %}
<style>
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #a3c0de !important; 
  }
</style>
<main role="main" class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <!--<div class="row">-->
      <div class="col-md-12 my-8">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">CCHC In Patient Appointment List</h5>
            <p class="card-text"></p>
            <table class="table table-hover table-bordered">
              <thead>
                <tr class="text-center">
                  <th class="text-info">Patient Token</th>
                  <th class="text-info">Patient ID </th>
                  <th class="text-info">Appointment ID </th>
                  <th class="text-info">Appointment Date</th>
                  <th colspan="3">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for x in patient %}
                <tr class="text-center">
                  <td>{{ x.patient_token}} </td>
                  <td>{{ x.patient_id}}</td>
                  <td>{{ x.appointment_id }}</td>
                  <td >{{ x.visit_date}}</td>
                  <td><a href="/consultant_doctor/consultantDoctor_patientDiagonise/{{ x.appointment_id }}/"
                      class="btn btn-primary "><span class="fe fe-20 fe-edit"></span> &nbsp;Diagonise</a>
                   
                    </td>
                    <td>
                    <a
                      href="/consultant_doctor/consultantDoctor_patientDiagonise_View_Edit/{{ x.appointment_id }}/"
                      class="btn btn-secondary"><span class="fe fe-20 fe-external-link"></span>&nbsp;View</a> 
</td>
<td>
                    {% if x.prescription_generated %}
                    <a href="/consultant_doctor/view_prescription/{{ x.appointment_id }}/" class="btn btn-success">
                      <span class="fe fe-file-text"></span>&nbsp;Prescription
                    </a>
                    {% else %}
                    <button class="btn btn-warning" disabled>Yet to Prescribe</button>
                    {% endif %}
                    <!-- <a href="/consultant_doctor/view_prescription/{{ x.appointment_id }}/" class="btn btn-success"> <span class="fe fe-file-text"></span>&nbsp;Prescription</a> -->
                  </td>
                </tr>
                {% endfor%}
              </tbody>
            </table>
          </div>
          <!--</div>-->
        </div>
      </div>
    </div>
</main>
{% endblock %}