{% extends 'consultantDoctor_base.html' %}
{% load static %}
{% block body %}
<style>
  .hidden {
    display: none;
  }
</style>
<div class="col-md-12">
  <div class="card shadow mb-4">
    <div class="card-header">
      <strong class="card-title">CCHC In Patient {{ pd.patient_id }} Diagonise Form {{ ad.appointment_id }}</strong>
    </div>
    <div class="card-body">
      <form action="#" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="patient_token">Patient Token Number</label>
            <input type="text" class="form-control" id="patient_token" value="{{ ad.patient_token }}" readonly />
          </div>
          <div class="form-group col-md-4">
            <label for="patient_id">Patient ID</label>
            <input type="text" class="form-control" id="inputPassword5" name="patient_id" value="{{ pd.patient_id }}" readonly />
          </div>
          <div class="form-group col-md-4">
            <label for="patient_name">Patient Name</label>
            <input type="text" class="form-control" id="patient_name" value="{{ pd.patient_name }}" readonly />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" id="gender" value="{{ pd.patient_gender }}" readonly />
          </div>
          <div class="form-group col-md-4">
            <label for="dob">Date of Birth</label>
            <input type="text" class="form-control" id="dob" value="{{ pd.patient_dob }}" readonly />
          </div>
          <div class="form-group col-md-4">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" value="{{ pd.patient_age }}" readonly />
          </div>
        </div>
        <hr />
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="height">Height</label>
            <input type="text" class="form-control" id="height" name="height" placeholder="{{ phr.height }}" readonly />
          </div>
          <div class="form-group col-md-4">
            <label for="weight">Weight</label>
            <input type="text" class="form-control" id="weight" name="weight" placeholder="{{ phr.weight }}" readonly />
          </div>
          <div class="form-group col-md-4">
            <label for="bp">BP</label>
            <input type="text" class="form-control" id="bp" name="bp" placeholder="{{ phr.bp }}" readonly />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="pulse">Pulse</label>
            <input type="text" class="form-control" id="pulse" name="pulse" placeholder="{{ phr.pulse }}" readonly />
          </div>
          <div class="form-group col-md-4">
            <label for="is_diabetic">IS Diabetic</label>
            <input type="text" class="form-control" id="is_diabetic" name="is_diabetic" placeholder="{{ phr.is_diabetic }}" readonly />
          </div>
          <div class="form-group col-md-4">
            <label for="diabetic_level">Enter Sugar Level</label>
            <input type="text" class="form-control" id="diabetic_level" name="diabetic_level" placeholder="{{ phr.diabetic_level }}" readonly />
          </div>
        </div>
        <div class="form-group">
          <label for="remarks">Remarks</label>
          <input type="text" class="form-control" id="remarks" name="remarks" placeholder="{{ phr.remarks }}" readonly />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="pov">Purpose Of Visit</label>
            <select class="form-control" name="pov" id="pov" readonly>
              <option value="{{phr.pov}}" selected>{{phr.pov}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="phi">Previous Health Issues</label>
            <input type="text" class="form-control" id="phi" name="phi" placeholder="{{ phr.phi }}" readonly />
          </div>
          <button type="button" class="btn mb-2 btn-primary" data-toggle="modal" data-target="#prescribeTestModal">
            Prescribe Test
          </button>
          &nbsp; &nbsp;
          <button type="button" class="btn mb-2 btn-secondary" id="showButton" onclick="toggleForm()">
            Prescribe Medicine
          </button>
          &nbsp; &nbsp;
          <a href="{{ rep.report_file.url }}" type="button" class="btn mb-2 btn-success" target="_blank">
            View Lab Report
          </a>
          &nbsp; &nbsp;
          <a href="" type="button" class="btn mb-2 btn-danger">
            Previous Health History
          </a>
          &nbsp; &nbsp;
          <a href="{% url 'consultant_doctor:medicine' %}" type="button" class="btn mb-2 btn-warning">
            Medicine
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-md-12 hidden" id="prescriptionForm">
  <div class="card shadow mb-4">
    <div class="card-header">
      <strong class="card-title">Diagnosis Report</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="simpleinput">Text</label>
            <input type="text" id="simpleinput" class="form-control" />
          </div>
          <div class="form-group mb-3">
            <label for="example-email">Email</label>
            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group mb-3">
            <label for="example-password">Password</label>
            <input type="password" id="example-password" class="form-control" value="password" />
          </div>
          <div class="form-group mb-3">
            <label for="example-palaceholder">Placeholder</label>
            <input type="text" id="example-palaceholder" class="form-control" placeholder="placeholder" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="example-helping">Helping text</label>
            <input type="text" id="example-helping" class="form-control" placeholder="Input with helping text" />
            <span class="help-block">
              <small>A block of help text that breaks onto a new line.</small>
            </span>
          </div>
          <div class="form-group mb-3">
            <label for="example-readonly">Readonly</label>
            <input type="text" id="example-readonly" class="form-control" readonly="" value="Readonly value" />
          </div>
          <div class="form-group mb-3">
            <label for="example-disable">Disabled</label>
            <input type="text" class="form-control" id="example-disable" disabled="" value="Disabled value" />
          </div>
          <div class="form-group mb-3">
            <label for="example-static">Static control</label>
            <p class="form-control-plaintext" id="example-static">email@example.com</p>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</div>

<div id="prescribeTestModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="prescribeTestModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="prescribeTestModalLabel"> Patient {{ pd.patient_id }} Prescribe Test Form {{ ad.appointment_id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="prescribeTestForm" action="/consultant_doctor/consultantDoctor_precribeTest/{{ ad.appointment_id }}/" method="post">
          {% csrf_token %}
          <input type="hidden" class="form-control" id="patient_id" value="{{ pd.patient_id }}" name="patient_id" readonly />
          <input type="hidden" class="form-control" id="appointment_id" name="appointment_id" value="{{ ad.appointment_id }}" readonly />
          
          <div class="form-row">
            {% for test in tests %}
            <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="test{{ test.id }}" name="test_ids" value="{{ test.id }}">
                <label class="custom-control-label" for="test{{ test.id }}">{{ test.name }}</label>
              </div>
            </div>
            {% endfor %}
          </div>
          <input type="submit" class="btn btn-success" value="Submit" form="prescribeTestForm" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  function toggleForm() {
    var form = document.getElementById('prescriptionForm');
    if (form.classList.contains('hidden')) {
      form.classList.remove('hidden');
    } else {
      form.classList.add('hidden');
    }
  }
</script>
{% endblock %}
