{% extends 'consultantDoctor_base.html' %} 
{% load static %} 
{% block body %}
<title>CCHC Consultant Doctor Dashboard</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1WFcPx6+ZqVlG4rOJ9gjj40d8H7z4k4vDr3Y5t5+3hV4T2y8G8CkCUXzT7Ms" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1WFcPx6+ZqVlG4rOJ9gjj40d8H7z4k4vDr3Y5t5+3hV4T2y8G8CkCUXzT7Ms" crossorigin="anonymous"></script>

<style>
  [data-role="dynamic-fields"] > .form-inline + .form-inline {
    margin-top: 0.5em;
  }
  [data-role="dynamic-fields"] > .form-inline [data-role="add"] {
    display: none;
  }
  [data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
    display: inline-block;
  }
  [data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
    display: none;
  }
</style>

<div class="col-md-12">
  <div class="card shadow mb-4">
    <div class="card-header">
      <strong class="card-title">CCHC In Patient {{pd.patient_id}} Diagnose Form {{ad.appointment_id}}</strong>
    </div>
    <div class="card-body">
      <form action="#" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="patient_token">Patient Token Number</label>
            <input type="text" class="form-control" id="patient_token" value="{{ad.patient_token}}" readonly/>
          </div>
          <div class="form-group col-md-4">
            <label for="patient_id">Patient ID</label>
            <input type="text" class="form-control" id="inputPassword5" name="patient_id" value="{{pd.patient_id}}" readonly/>
          </div>
          <div class="form-group col-md-4">
            <label for="patient_name">Patient Name</label>
            <input type="text" class="form-control" id="patient_name" value="{{pd.patient_name}}" readonly/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" id="gender" value="{{pd.patient_gender}}" readonly/>
          </div>
          <div class="form-group col-md-4">
            <label for="dob">Date of Birth</label>
            <input type="text" class="form-control" id="dob" value="{{pd.patient_dob}}" readonly/>
          </div>
          <div class="form-group col-md-4">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" value="{{pd.patient_age}}" readonly/>
          </div>
        </div>
        <hr/>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="height">Height</label>
            <input type="text" class="form-control" id="height" name="height" placeholder="{{ phr.height }}" readonly/>
          </div>
          <div class="form-group col-md-4">
            <label for="weight">Weight</label>
            <input type="text" class="form-control" id="weight" name="weight" placeholder="{{ phr.weight }}" readonly/>
          </div>
          <div class="form-group col-md-4">
            <label for="bp">BP</label>
            <input type="text" class="form-control" id="bp" name="bp" placeholder="{{ phr.bp }}" readonly/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="pulse">Pulse</label>
            <input type="text" class="form-control" id="pulse" name="pulse" placeholder="{{ phr.pulse }}" readonly/>
          </div>
          <div class="form-group col-md-4">
            <label for="is_diabetic">IS Diabetic</label>
            <input type="text" class="form-control" id="is_diabetic" name="is_diabetic" placeholder="{{ phr.is_diabetic }}" readonly/>
          </div>
          <div class="form-group col-md-4">
            <label for="diabetic_level">Enter Sugar Level</label>
            <input type="text" class="form-control" id="bp" name="diabetic_level" placeholder="{{ phr.diabetic_level }}" readonly/>
          </div>
        </div>
        <div class="form-group">
          <label for="remarks">Remarks</label>
          <input type="text" class="form-control" id="remarks" name="remarks" placeholder="{{ phr.remarks }}" readonly/>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="pov">Purpose Of Visit</label>
            <select class="form-control" name="pov" id="pov">
              <option value="{{phr.pov}}" selected>{{phr.pov}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="phi">Previous Health Issues</label>
            <input type="text" class="form-control" id="phi" name="phi" placeholder="{{ phr.phi }}" readonly/>
          </div>
          <a href="/consultant_doctor/consultantDoctor_precribeTest/{{ad.appointment_id}}/" class="btn mb-2 btn-primary" type="button">Prescribe Test</a>
          &nbsp; &nbsp;
          <button type="button" class="btn mb-2 btn-secondary" id="showButton" onclick="toggleForm()">Prescribe Medicine</button>
          &nbsp; &nbsp;
          <a href="{{ rep.report_file.url }}" type="button" class="btn mb-2 btn-success" target="_blank">View Lab Report</a>
          &nbsp; &nbsp;
          <a href="" type="button" class="btn mb-2 btn-danger">Previous Health History</a>
          &nbsp; &nbsp;
          <a href="{% url 'consultant_doctor:medicine' %}" type="button" class="btn mb-2 btn-warning">Medicine</a>
        </div>
      </form>
    </div>
  </div>
</div>

<hr/>

<div class="col-md-12">
  <div class="card shadow mb-4">
    <div class="card-header">
      <br/>
      <h3 style="text-align: center; color: red">CCHC In Patient Medical Prescription Form</h3>
    </div>
    <div class="card-body">
      <form action="{% url 'consultant_doctor:medicine' %}" method="POST">
        {% csrf_token %}
        <div class="table-responsive">
  <table class="table table-bordered" id="prescription-table">
    <thead>
      <tr>
        <th>Medicine Name</th>
        <th colspan="2">Feeding Rule</th>
        
        <th>Dosage</th>
        <th>Feeding Days</th>
        <th>Add/Remove</th>
      </tr>
    </thead>
    <tbody data-role="dynamic-fields">
      <tr>
        <td class="form-group">
          <select class="form-control" name="tablet_name[]">
            <option value="">Select Tablet Name</option>
            {% for medicine in med %}
            <option value="{{medicine.name}}">{{medicine.name}}</option>
            {% endfor %}
          </select>
        </td>
        <td class="form-group">
          <select class="form-control" name="feeding_rule[]">
            <option value="">Select Feeding Rule</option>
            <option value="beforeMeals">Before Meal</option>
            <option value="afterMeals">After Meal</option>
            <option value="withFood">With Food</option>
            <option value="emptyStomach">On an Empty Stomach</option>
            <option value="withoutFood">Without Food</option>
          </select>
        </td>
       <td class="form-group">
          <input type="text" class="form-control" name="feedind_time[]" placeholder="Feeding Times"/>
        </td>
        <td class="form-group">
          <input type="text" class="form-control" name="dosage[]" placeholder="Dosage"/>
        </td>
        <td class="form-group">
          <input type="text" class="form-control" name="feeding_days[]" placeholder="Feeding Days"/>
        </td>
        <td>
          <button type="button" class="btn btn-danger" data-role="remove"><span class="fe fe-trash-2"></span></button>
          <button type="button" class="btn btn-primary" data-role="add"><span class="fe fe-plus"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

        <div style="text-align: center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1WFcPx6+ZqVlG4rOJ9gjj40d8H7z4k4vDr3Y5t5+3hV4T2y8G8CkCUXzT7Ms" crossorigin="anonymous"></script>

<script>
  $(function () {
    console.log("Script loaded successfully.");
    $(document).on("click", '[data-role="dynamic-fields"] [data-role="add"]', function (e) {
      e.preventDefault();
      console.log("Add button clicked.");
      var container = $(this).closest('[data-role="dynamic-fields"]');
      var new_field_group = container.find("tr:last-child").clone();
      new_field_group.find("input").val(""); // Clear input values
      new_field_group.find("select").val(""); // Clear select values
      container.append(new_field_group);
    });
    $(document).on("click", '[data-role="dynamic-fields"] [data-role="remove"]', function (e) {
      e.preventDefault();
      console.log("Remove button clicked.");
      $(this).closest("tr").remove();
    });
  });
</script>




{% endblock %}
